[submodule "functions/syntastic"]
	path = functions/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "functions/peaksea"]
	path = functions/peaksea
	url = https://github.com/vim-scripts/peaksea.git
[submodule "functions/nerdtree"]
	path = functions/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
